
<% content_for :featured do %>
  <h2><%= @user.name %>'s Guides</h2>
<% end %>

<% content_for :main do %>
  <% @user.guides.each do |guide| %>
    <%= link_to guide.title, guide %>
  <% end %>
<% end %>
