
<% content_for :featured do %>
  <h2><%= @user.name %>'s Guides</h2>
<% end %>

<% content_for :main do %>
  <ul id="my-guides">
    <% @user.guides.each do |guide| %> 
      <li>
        <%= link_to guide.title, guide, :class => 'show' %>
        <%= guide.description %>
        <%= link_to "Edit", edit_guide_path(guide), :class => "edit" %>
      </li>
    <% end %>
  </ul>
<% end %>
