<p class="credits">
  NerdCompanion was dreamed up and created by <a href="http://wizzart.at/about.html">Dominik Guzei</a><br />
  Thanks to <a href="https://github.com/wycats">Yehuda Katz</a> and others for the awesome <a href="https://github.com/wycats/guides">Rails Guides</a><br />
  Logo designed by <a href="http://www.doublejdesign.co.uk">Double-J Design</a>
</p>