
<div id="feature">
  <div class="wrapper">
    <h2>Guide Title</h2>
    <p>Description of guide</p>
    <ul>
			<li>Use the various rendering methods built into Rails</li>
			<li>Create layouts with multiple content sections</li>
			<li>Use partials to <span class="caps">DRY</span> up your views</li>
			<li>Use nested layouts (sub-templates)</li>
		</ul>
    <div id="subCol">
      <h3 class="chapter"><img src="/assets/chapters_icon.gif" alt="" />Chapters</h3>
      <ol class="chapters">
        <li><a href="#">First Chapter</a></li>
        <li><a href="#">Second Chapter</a></li>
      </ol>
    </div>
  </div>
</div>

<div id="container">
  <div class="wrapper">
    <div id="mainCol">
      
    </div>
  </div>
</div>
