/* @override http://localhost:3000/assets/guide_editor.css?body=1 */

/*
 *= require jquery_cleditor
 */

#feature .wrapper {
  padding-top: 1em;
}

h2 {
  margin-bottom: 1em;
}

#guide-title {
  font-size: 2.1428em;
  line-height: 1em;
  margin: 0.3em 0 .6em;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 800px;
}

#guide-description {
  width: 800px;
  height: 100px;
  padding: 5px 10px;
  font-size: 1.2857em;
  margin-bottom: 0.75em;
}

#feature label {
  font-size: 1.3em;
}

#guide-toolbox-list {
  padding: 1em 0;
  background: url(/assets/footer_tile.gif) repeat-x;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  margin: 0;
}

#guide-toolbox-list li.tool {
  display: block;
  width: 100px;
  line-height: 2em;
  float: left;
  border: 1px solid #ccc;
  background-color: #eee;
  margin-left: 1em;
  color: black;
  cursor: move;
}

#guide-content-list {
  border: 1px solid #ccc;
  background: #efefef;
  min-height: 200px;
  width: 100%;
  margin: 1em 0;
}

#guide-content-list li.tool {
  padding: 0;
  margin: 1em 0;
  background: none;
}

/* HEADING 1 */
#guide-content-list li.h1 h3 {
  display: inline;
  margin: 10px;
  color: #999;
}

#guide-content-list li.h1 input {
  font-size: 1.7142em;
  line-height: 1.286em;
  font-weight: bold;
  padding: 0.1em 0.3em;
  border: 1px solid #ccc;
  width: 554px;
}

/* HEADING 2 */
#guide-content-list li.h2 h4 {
  display: inline;
  margin: 10px 12px 10px 15px;
  color: #999;
}

#guide-content-list li.h2 input {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  padding: 0.1em 0.3em;
  border: 1px solid #ccc;
  width: 559px;
}

/* HEADING 3 */
#guide-content-list li.h3 h5 {
  display: inline;
  margin: 10px 11px 10px 21px;
  color: #999;
}

#guide-content-list li.h3 input {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;  
  padding: 0.1em 0.3em;
  border: 1px solid #ccc;
  width: 559px;
}

/* PARAGRAPH */
#guide-content-list li.paragraph {
  height: 150px;
  width: 565px;
  margin-left: 50px;
} 

#guide-submit {
  padding: 0.5em 1em;
  border: 1px solid #999;
  font-size: 1.5em;
  background-color: #ddd;
  cursor: pointer;
}

#guide-submit:hover {
  color: #1c5ec3;
  background-color: #c8fffb;
}
