
<% title "Create and Share Technical Guides easily" %>

<% content_for :featured do %>
  <h2>Create and Share Technical Guides easily</h2>
  
  <p>
    Ever noticed the beautiful <a href="http://guides.rubyonrails.org/">guides</a> for Ruby on Rails?<br />
  	Now its your turn to impress your friends.
  </p>
  
  <ul>
		<li><%= link_to "Try out the awesome Guide Editor", new_guide_path  %></li>
		<li>Sign in with your Twitter account</li>
		<li>Create Guides for any technical topic</li>
		<li>Share your Guides with the world!</li>
	</ul>
	
  <div id="subCol">
    <h3 class="chapter"><img src="/assets/chapters_icon.gif" alt="" />Chapters</h3>
    <ol class="chapters">
      <li><strong>Feature Peek:</strong></li>
      <li>Soon your guides will</li>
      <li>be even more awesome</li>
      <li>when your headlines</li>
      <li>automatically turn into</li>
      <li>hierachies of chapters!</li>
    </ol>
  </div>
<% end %>

<% content_for :main do %>
  
  <h3>Newest Guides:</h3>
 
  <%= render :partial => "shared/guide_list", :locals => { :guides => @guides } %>
  
  <%= paginate @guides %>
<% end %>

<% content_for :footer do; render :partial => 'shared/footer' end %>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "guide_viewer" %>
<%end%>