
<% title "Create and Share Technical Guides easily" %>

<% content_for :featured do %>
  <h2>Create and Share Technical Guides easily</h2>
  
  <p>
    Ever wanted to write about technical stuff you feel excited about?<br />
  	Focus on what you have to say instead of how to get the formatting right!
  </p>
  
  <ul>
		<li><%= link_to "Try out the awesome Guide Editor", new_guide_path  %></li>
		<li>Sign in with your Twitter account</li>
		<li>Create Guides for any technical topic</li>
		<li>Share your Guides with the world!</li>
	</ul>

<% end %>

<% content_for :main do %>
  
  <h3>Newest Guides:</h3>
 
  <%= render :partial => "shared/guide_list", :locals => { :guides => @guides } %>
  
  <%= paginate @guides %>
<% end %>

<% content_for :footer do; render :partial => 'shared/footer' end %>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "guide_viewer" %>
<%end%>