
<div id="feature">
  <div class="wrapper">
    
    <h2 id="guide-title"><%= @guide.title %></h2>
    
  </div>
</div>

<div id="container">
  <div class="wrapper">
    
    <div id="mainCol">
      
		</div>
		
  </div>
</div>
