
<div id="feature">
  <div class="wrapper">
    
    <h2 id="guide-title"><%= @guide.title %></h2>
    <p><%= @guide.description %></p>
    
  </div>
</div>

<div id="container">
  <div class="wrapper">
    
    <div id="mainCol">
      
      <% @guide.blocks.each do |block| %>
        
        <% case block.type
             when "paragraph" %>
             
              <p><%= block.content %></p>
          
          <% when "h1" %>
            <h3><%= block.content %></h3>
            
        <% end %>
        
      <% end %>
      
		</div>
		
  </div>
</div>
