
<div id="feature">
  <div class="wrapper">
    
    <h2 id="guide-title"><%= @guide.title %></h2>
    <p><%= @guide.description %></p>
    
  </div>
</div>

<div id="container">
  <div class="wrapper">
    
    <div id="mainCol">
      
      <% @guide.blocks.each do |block| %>
      
        <p><%= block.content %></p>
      
      <% end %>
      
		</div>
		
  </div>
</div>
